$base-font-size: 12px;
$list-background: rgb(250,250,250);
$list-border: rgb(240,240,240);
$list-link-color: rgb(120,120,120);
$list-timestamp-color: rgb(180,180,180);
$list-text-color: rgb(50,50,50);